* {
    margin: 0;
    padding: 0;
}

.about{
    margin-left: 7%;
    width: 86%;
    justify-content: center;
}
.contact-main{
    margin-left: 7%;
    width: 86%;
    justify-content: center;
}

.contact-ctrl{
    display: flex;
}

.contact-information{
    width: 50%;
}

i{
    line-height: 3rem;
}

.contact-form{
    width: 50%;
}

.bi{
    color: #ffcc00;
}

a{
    text-decoration: none;
}

.btn-primary{
    width: 100%;
    background-color: #61CE70;
    border-color: #61CE70;
}

.btn-primary:hover{
    background-color: #61CE70;
    border-color: #61CE70;
}

/* css cho footer */
footer a span{
    color: #000;
  }
  footer i{
    color: #FAC624;
    padding-right: 2px;
  }
  /* fixed contact */
  .Contact__fixed{
    position: fixed;
    left: auto;
    right: 0;
    bottom: 50px;
    z-index: 999;
    border-right: 0;
    width: 70px;
    background-color: #fff;
    padding: 10px 15px 10px 5px;
    box-sizing: border-box;
  }
  .Contact__fixed img{
    width: 4rem;
    margin: auto;
    margin-bottom: -10px;
    border-radius: 100%;
    background-color: white;
    padding: 5px;
    border: 1px solid #cdcdcd;
  }
  .Contact__fixed span{
    font-size: smaller;
  }